{# A scrolling emergency message that appears at the top of every page.
 #
 #    Required Section: 'emergencyMessages'
 #      Any current, active entries in this section will be included in the 
 #      scrolling block of messages.
 #    
 #    Required Entry Fields
 #      eMsgMessage: Plain Text, multi-line, the message to display.
 #      eMsgTime: Number, the number of seconds the message should remain
 #          on screen.
 #    Optional 
 #      eMsgLink: Link Field, If not empty, the message will be a link to location
 #}

{% set message_query = craft.entries().section('emergencyMessage' %}

{% if message_query.exists() %}
<div 
    class="w-full relative grid"
    x-data="{
        currentMessage : 1,
        maxMessage: 1,
    }"
>
    {% for message in message_query.all() %}  
    <div
        class="p-4 row-start-1 col-span-full"
        x-data="{mynumber:{{loop.index}}}"
        x-bind:class="mynumber == currentMessage ? 'eMsgEnter' : 'eMsgExit'"
        x-cloak

    >
        {{message.eMsgMessage}}

    </div>
    {% endfor %}
</div>
{% endif %}