{# A scrolling emergency message that appears at the top of every page.
 #
 #    Required Section: 'emergencyMessages'
 #      Any current, active entries in this section will be included in the 
 #      scrolling block of messages.
 #    
 #    Required Entry Fields
 #      eMsgMessage: Plain Text, multi-line, the message to display.
 #    Optional 
 #      eMsgLink: Link Field, If not empty, the message will be a link to location
 #    Options
 #      displayTime: integer; The time, in milliseconds, to display the 
 #}
{% set displayTime = 4 * 1000 %}
{% set message_query = craft.entries().section('emergencyMessage') %}


{% if message_query.exists() %}

<div 
    class="w-full relative grid relative"
    x-data="{
        currentMessage : 1,
        maxMessage: 1,
    }"
    x-init="
        setInterval(
            () => {
                if(currentMessage >= maxMessage) currentMessage = 1;
                else currentMessage += 1;
            },
            {{displayTime}}
        );
    "
>
    {% for message in message_query.all() %}  
    <div
        class = "p-4 row-start-1 col-span-full relative"
        x-data = "{mynumber:{{loop.index}}}"
        {# can't use x-show here, we don't want this div changing size when the
         # message being displayed changes.
         #}
        x-bind:class = "mynumber == currentMessage ? 'eMsgEnter' : 'eMsgExit'"
        x-cloak
        {% if loop.last %} x-init = "maxMessage = {{loop.index}}" {% endif %}
    >
        {{message.eMsgMessage}}

    </div>
    {% endfor %}
</div>
{% endif %}