{#  The titlebar that appears at the top of most content pages in the site.


    optional vars: 
        title: optional override for the title text. Defaults to entry.title then '&nbsp;'
        entry.colorGradient: dropdown, which color gradient we should use.
            values: blue, purple, green, orange
        entry.titleBare: asset, image, one(); Image that should be used for the titlebar
#}
{# Set the color gradient #}
{% switch entry.colorGradient ?? null %}
    {% case "blue" %}
        {% set titlebar_bg_gradient_start = "from-guaynabo-blue-start" %}
        {% set titlebar_bg_gradient_end   =   "to-guaynabo-blue-end" %}
    {% case "purple" %}
        {% set titlebar_bg_gradient_start = "from-guaynabo-purple-start" %}
        {% set titlebar_bg_gradient_end   =   "to-guaynabo-purple-end" %}
    {% case "green" %}
        {% set titlebar_bg_gradient_start = "from-guaynabo-green-start" %}
        {% set titlebar_bg_gradient_end   =   "to-guaynabo-green-end" %}
    {% case "orange" %}
        {% set titlebar_bg_gradient_start = "from-guaynabo-orange-start" %}
        {% set titlebar_bg_gradient_end   =   "to-guaynabo-orange-end" %}
    {% default %}
        {% set titlebar_bg_gradient_start = "from-guaynabo-blue-start" %}
        {% set titlebar_bg_gradient_end   =   "to-guaynabo-blue-end" %}
{% endswitch %}

{% set title_text  = title ?? entry.title ?? '&nbsp;' %}

<div
    {% if entry.titleBar.exists() ?? false %}
        style="background-image:url({{entry.titleBar.one().url}})"
        class= " h-[140px] w-full"
    {% else %}
        class="bg-gradient-to-tr {{titlebar_bg_gradient_start}} {{titlebar_bg_gradient_end}} 
            py-4 w-full text-center flex justify-center items-center 
            md:justify-between md:px-24
        " 
    {% endif %}
>
    {# Title text #}
    {% if not entry.titleBar.exists() ?? false %}
        <h1 class="text-white ">
            {{ title_text }}
        </h1> 
    {% else %}
        <div class="h-px w-px">&nbsp;</div>
    {% endif %}

    {# Search bar #}
    <div class="p-1
                bg-gradient-to-tr from-guaynabo-green-start to-guaynabo-green-end
         "
    >
        <input type="text" 
            class="h-full bg-white bg-opacity-80
                   focuss:borderColor-black
            ">
        <button class="h-[35] w-[25px]"><i class="fas fa-search text-white"></i></button>
    </div>
    
</div>