{# Provides a super-basic header for the site.
    Feel free to edit or replace this file as you need.

    It is very common to have the header switch to a 'push to open' menu
    on mobile, so this file provides that functionality so you don't have to rebuild it.

    This template just puts the logo on the left and spreads the contents of the <nav> menu across the top
    of the page. And on mobile switches over to a 'push button to open' menu, with the logo in the middle.
#}

<header class="relative flex justify-center mx-4 sm:justify-between " x-data="{open: false}">
    {# logo #}
    <div class="text-3xl">{{siteName | default('Untitled')}}</div>
    
    <nav 
        class="absolute left-0 right-0 flex flex-col items-center justify-around flex-grow bg-gray-500 top-full align-center bg-opacity-90 sm:flex sm:top-0 sm:bg-transparent sm:relative sm:flex-row"
        x-bind:class="{'hidden': !open}"
    >
        <div>Nav-item</div>
        <a href="#">Nav_item</a>
        <a href="#">NAvITem</a>
    </nav>
    
    {# The mobile 'open menu' button #}
    <div 
        class="absolute right-0 flex items-center inline h-full cursor-pointer md:hidden"
        x-on:click="open = ! open;"
    >
        ☰
    </div>
</header>