{# Header used at the top of each page

    Requred globals
        header
            logoFull: asset, image, one item only, The logo to appear in the upper-left corner
            headerMenu: Matrix, The navigation menu at the top of the page
                The blocks will become the top level buttons that open submenues when scrolled over or tapped.
                directLink: Block with no submenu, it just is a link.
                    directLinkLink: Typed link field, the link for this button
                    buttonColor: dropdown with following options: blue, purple, green, orange.
                submenu: Block that opens the mega-menue when tapped or scrolled over.
                    menuTitle: plain text, thex that will appear on the button
                    links: table with the following columns, This is the links of the submenu
                        linkText: single-line text, the text of this link or heading.
                        linkUrl: single-line text, The url this link links too
                        isHeading: checkbox, is this item a top-level heading for the sub menu?
                    buttonColor: dropdown with following options: blue, purple, green, orange.
#}

<header class="relative flex justify-center mx-4 sm:justify-between " x-data="{open: false}">
    {# logo #}
    <div class="text-3xl">{{siteName | default('Untitled')}}</div>
    
    <nav 
        class="absolute left-0 right-0 flex flex-col items-center justify-around flex-grow bg-gray-500 top-full align-center bg-opacity-90 sm:flex sm:top-0 sm:bg-transparent sm:relative sm:flex-row"
        x-bind:class="{'hidden': !open}"
    >
        <div>Nav-item</div>
        <a href="#">Nav_item</a>
        <a href="#">NAvITem</a>
    </nav>
    
    {# The mobile 'open menu' button #}
    <div 
        class="absolute right-0 flex items-center inline h-full cursor-pointer md:hidden"
        x-on:click="open = ! open;"
    >
        ☰
    </div>
</header>