{# Template for entries related to the 'municipal documents' 

    required vars
        title: Plaintext, title of the entry
        documentosMunicipalesPdf: Asset, single, PDF. The document this entry reffers too.
        documentosMunicipalesAno: dropdown, year this document was produced
        
    optional vars
        documentosMunicipalesCategoria: Categories, single category the document may belong too.
        
#}

{# Set the color gradient #}
{% switch entry.colorGradient %}
    {% case "blue" %}
        {% set sidebar_bg_gradient_start = "from-guaynabo-blue-start" %}
        {% set sidebar_bg_gradient_end   =   "to-guaynabo-blue-end" %}
    {% case "purple" %}
        {% set sidebar_bg_gradient_start = "from-guaynabo-purple-start" %}
        {% set sidebar_bg_gradient_end   =   "to-guaynabo-purple-end" %}
    {% case "green" %}
        {% set sidebar_bg_gradient_start = "from-guaynabo-green-start" %}
        {% set sidebar_bg_gradient_end   =   "to-guaynabo-green-end" %}
    {% case "orange" %}
        {% set sidebar_bg_gradient_start = "from-guaynabo-orange-start" %}
        {% set sidebar_bg_gradient_end   =   "to-guaynabo-orange-end" %}
    {% default %}
        {% set sidebar_bg_gradient_start = "from-guaynabo-blue-start" %}
        {% set sidebar_bg_gradient_end   =   "to-guaynabo-blue-end" %}
{% endswitch %}


{% extends "_layouts/3-base" %}

{% block base_supercontent %}
    {% include "_partials/entry_titlebar" %}
    {{entry.documentosMunicipalesAno}}<br>
    {% for cat in entry.documentosMunicipalesCategoria.all() %}
        {{cat.title}}<br>
    {% endfor %}
{% endblock %}
{% set superblock = {"pdfAsset" : entry.documentosMunicipalesPdf} %}
{% block base_content %}
    <h1>Testing the template</h1>
    {% include "_partials/superContent/blocks/embedPdf.twig" with {"superblock" : superblock} %}
{% endblock %} {# end base_content #}