
{# Layout used by entries with only main content.

    required vars
        title: Plaintext, title of the entry
        superContent: Matrix, the primary content of the entry
                    see docs in it's _partials/ entry. Simply put, supercontent 
                    is an object lesson in feature creep and technical debt.
    optional vars
        titleBar: asset, imagle, single; Fullpage titlebar for the entry
        colorGradient: dropdown, which color gradient we should use.
            values: blue, purple, green, orange
#}

{# Set the color gradient #}
{% switch entry.colorGradient %}
    {% case "blue" %}
        {% set sidebar_bg_gradient_start = "from-guaynabo-blue-start" %}
        {% set sidebar_bg_gradient_end   =   "to-guaynabo-blue-end" %}
    {% case "purple" %}
        {% set sidebar_bg_gradient_start = "from-guaynabo-purple-start" %}
        {% set sidebar_bg_gradient_end   =   "to-guaynabo-purple-end" %}
    {% case "green" %}
        {% set sidebar_bg_gradient_start = "from-guaynabo-green-start" %}
        {% set sidebar_bg_gradient_end   =   "to-guaynabo-green-end" %}
    {% case "orange" %}
        {% set sidebar_bg_gradient_start = "from-guaynabo-orange-start" %}
        {% set sidebar_bg_gradient_end   =   "to-guaynabo-orange-end" %}
    {% default %}
        {% set sidebar_bg_gradient_start = "from-guaynabo-blue-start" %}
        {% set sidebar_bg_gradient_end   =   "to-guaynabo-blue-end" %}
{% endswitch %}


{% extends "_layouts/3-base" %}

{% block base_supercontent %}
    {% include "_partials/entry_titlebar" %}
{% endblock %}

{% block base_content %}
    <h1>Testing the template</h1>
{% endblock %} {# end base_content #}