{# listVolumeContents: given the handle of a volume, Present links to the contents
    of that volume in an unordered list.

    Required vars
        superblock.volumeHandle: dropdown; The handle of the selected volume. Admin can
            add new volumes to the dropdown by adding them and their handle to 
            the list. 
            Currently the list is:
                ordenanzasYResoluciones
                formularios
                transperencia
 #}

{% set volumeHandle = volumeHandle ?? superblock.volumeHandle ?? null %}
{% set assetQuery = craft.assets().volume(volumeHandle) %}

{% if assetQuery.exists() %}
    <ul class="">
        {% for item in assetQuery.all() %}
            {% apply spaceless %}
            {% if item.hasUrls %}
                <a href="{{item.url}}" class="">{{item.title}}</a>
            {% else %}
                {{item.title}}
            {% endif %}
            </li>
            {% endapply %}
        {% endfor %}
     </ul>
{% endif %}
