{# listVolumeContents: given the handle of a volume, Present links to the contents
    of that volume in an unordered list.

    Required vars
        superblock.volumeHandle: dropdown; The handle of the selected volume. Admin can
            add new volumes to the dropdown by adding them and their handle to 
            the list. 
            Currently the list is:
                ordenanzasYResoluciones
                formularios
                transperencia
    Optional Vars
        itemMarker: String,defaults to null Symbol or whatever that will be 
        prefixed before each item in the list. <i> tags are allowed, so you can
        put a font-awesome thing in here.
            .
 #}

{% set volumeHandle = volumeHandle ?? superblock.volumeHandle ?? null %}
{% set assetQuery = craft.assets().volume(volumeHandle) %}

{% if assetQuery.exists() %}
    <ul class="">
        {% for item in assetQuery.all() %}

            {# set the item marker for this item  #}
            {% switch item.kind %}
            
                {% case "image" %}
                    {% set itemMarker = '<i class="far fa-file-image"></i>&nbsp;' %}
                {% case "pdf" %}
                    {% set itemMarker = '<i class="far fa-file-pdf"></i>&nbsp;' %}
                {% case "audio" %}
                    {% set itemMarker = '<i class="far fa-file-audio"></i>&nbsp;' %}
                {% case "compressed" %}
                    {% set itemMarker = '<i class="far fa-file-archive"></i>&nbsp;' %}
                {% case "excel" %}
                    {% set itemMarker = '<i class="far fa-file-excel"></i>&nbsp;' %}
                {% case "flash" %}
                {% case "html" %}
                {% case "illustrator" %}
                {% case "javascript" %}
                {% case "json" %}
                {% case "photoshop" %}
                {% case "php" %}
                {% case "powerpoint" %}
                {% case "text" %}
                {% case "video" %}
                {% case "word" %}
                {% case "xml" %}
                {% case "unknown" %}

                {% case "access" %}
                {% default %}
                    {% set itemMarker = '<i class="far fa-file"></i>&nbsp;' %}
                
            {% endswitch %}
            
            {% apply spaceless %}
            <li> {{itemMarker | raw }}
            {% if item.hasUrls %}
                <a href="{{item.url}}" class="">{{item.title}}</a>
            {% else %}
                {{item.title}}
            {% endif %}
            </li>
            {% endapply %}
        {% endfor %}
     </ul>
{% endif %}
