{#  Handler for the 'miniGallery' block type of the superContent matrix
    a photo gallery, will attempt to have each image be 25% wide, with a minimum width of ... something.

    block fields 
        superblock.miniGallery: Assets, multiple, images only
#}
{% if superblock.miniGallery.exists() %}
{# only render if the gallery has some assets selected. #}
<div class="flex flex-wrap gap-2">

    {% for image in superblock.miniGallery.all() %}
        <div 
            class="w-1/4 min-w-[250px] flex-grow"
            x-data="{open: false}"
            x-on:click="open = !open;"
            x-bind:class="{
                'fixed' : open,
                'top-0' : open,
                'left-0': open,
                'w-full': open,
                'h-full': open,
                'bg-opacity-60': open,
                'bg-guaynabo-gray': open,
                'w-1/4' : !open,
            }"
        >
            <img src="{{image.url}}" alt="{{image.title}}" class="">
        </div>
    {% endfor %}

</div>
{% endif %}
