{#  Handler for the paragraphAndGallery block type of the superContent matrix  
    Creates a slideshow gallery with text wrapping around it.

    Block Fields 
        superblock.redactorText: Redactor field
        superblock.images: assets, images, multiple selections allowed
#}

<div class="">
    {# The galery, only shown if there are some images to show. #}
    {% if superblock.images.exists() %}
    <div 
        class="relative float-right w-1/3"
        x-data="{currentImage: 2}"
    >
        {% for image in superblock.images.all() %}
            <img src="{{image.url}}" alt="{{image.title}}" 
                class="object-cover"
                x-data="{myNumber:{{loop.index}}}"
                x-show="myNumber === currentImage"
                {% if not loop.first %}x-cloak{% endif %}
            >
        {% endfor %}
    </div>
    {% endif %}
    
    {{superblock.redactorText}}
</div>