{#  Handler for the 'table' block type of a superContent Matrix
    
    Displayes the contents of a Redactor field.

    required vars
        superBlock.table: The redactor field to display
#}

{# pull tabulator files from the CDN #}
{% do view.registerJsFile("https://unpkg.com/tabulator-tables@4.9.3/dist/js/tabulator.min.js",{
    position: POS_BEGIN
}) %}
{% do view.registerCssFile("https://unpkg.com/tabulator-tables@4.9.3/dist/css/tabulator.min.css",{
    title: 'tabulator-styles'
}) %}
{% css %}
    .tabulator,
    .tabulator .tabulator-header .tabulator-col,
    .tabulator .tabulator-header,
    .tabulator-row.tabulator-row-even {
        background: transparent;
        border: none;
    }
    .tabulator-row,
    .tabulator-row.tabulator-row-odd,
    .tabulator-row.tabulator-row-even {
        border-top: solid 1px #ddd;
    }
    .tabulator-row .tabulator-cell {
        border-right: none;
    }
    .tabulator-row .tabulator-responsive-collapse table tr td {
	white-space: break-spaces;
}
{% endcss %}

<div class="w-full">
    {{
        superblock.table
        | retconAttr('p,ol,ul', {"class": "mb-6 last:mb-0"}, false)
        | retconAttr('h1,h2,h3,h4,h5,h6', {"class": "mb-8 last:mb-2"}, false)
        | retconAttr('ul', {"class": "list-disc"}, false)
    }}
    <script defer>
        function uid() {
            return 'TABLExxxxxxxx'.replace(/[xy]/g, function(c) {
                var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
                return v.toString(16);
            });
        }
        const theTables = document.currentScript.parentNode.getElementsByTagName('table');
        const uidList = [];
        for(let table of theTables) {
            const id = uid();
            uidList.push(id);
            table.id = id;
        }
        for(let uid of uidList) {
            const table = new Tabulator("#"+uid, {
                responsiveLayout:"collapse",
                headerSort:false,
            });
        }
    </script>
</div>