{#  Handler for the 'table' block type of a superContent Matrix
    
    Displayes the contents of a Redactor field.

    required vars
        superBlock.table: The redactor field to display
#}

{# pull tabulator files from the CDN #}
{% do view.registerJsFile("https://unpkg.com/tabulator-tables@4.9.3/dist/js/tabulator.min.js",{
    position: POS_BEGIN
}) %}
{% do view.registerCssFile("https://unpkg.com/tabulator-tables@4.9.3/dist/css/tabulator.min.css",{
    title: 'tabulator-styles'
}) %}
<div class="w-full">
    {{superblock.table}}
    <script defer>
        function uid() {
            return 'xxxxxxxx'.replace(/[xy]/g, function(c) {
                var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
                return v.toString(16);
            });
        }
        const theTables = document.currentScript.parentNode.getElementsByTagName('table');
        const uidList = [];
        for(let table of theTables) {
            const id = uid();
            uidList.push(id);
            table.id = id;
        }
        for(let uid of uidList) {
            const table = new Tabulator("#example-table", {});
        }
    </script>
</div>