/**
 * components/global.css
 *
 * Project-wide styles
 *
 */

/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* custom font imports */
@font-face {
    font-family: advantage;
    src: url(/fonts/advantage_demi.ttf);
}
@font-face {
    font-family: twcentury;
    src: url(/fonts/tw_cen_mt-regular.ttf);
}