 /** Element stylings that are specific to this project 
     that we want to override Tailwind's base styles.
  */
 
/* the default font-stack tailwindcss/components applies to body ignores our changes in the config */
body {
    @apply font-sans;
}

h1,h2,h3,h4,h5,h6 {
    @apply font-advantage;
}