{#  A card like element displaying a headline from the news section 

    required vars
        article: entry from news section
    entry fields
        title: plaintext, single line
        featureImage: image asset, one()
        summary: plaintext multiline
        superContent: matrix field, the article itself
        categories: 
        tags: 

#}

<div class="">
    <img src="" alt="">
    <div>{{ title ?? article.title ?? entry.title ?? "Article Title" }}</div>
    <div class="">{{ title ?? article.title ?? entry.title ?? "Article Title" }} </div>
</div>