{#  A card like element displaying a headline from the news section 

    required vars
        article: entry from news section
    entry fields
        title: plaintext, single line
        featureImage: image asset, one()
        summary: plaintext multiline
        superContent: matrix field, the article itself
        categories: 
        tags: 

#}

{% set fimgTransform = {
    mode: "cover",
    width: 355,
    height: 235,
    quality: 75,
} %}

<div class="w-[256px] sm:w-[355px] bg-white">
    {% set fimg = featureImage ?? article.featureImage ?? entry.featureImage %}
    <img class="w-full" src="{{fimg.one().getUrl(fimgTransform)}}" alt="">

    <div>{{ title ?? article.title ?? entry.title ?? "Article Title" }}</div>
    <div class="">{{ summary ?? article.summary ?? entry.summary ?? "Article Title" }} </div>
</div>