{# Displayes recent news headlines as a seriese of cards.
 #}

{% set newsQuery = craft.entries().section('news').orderBy('postDate DESC').limit(10) %}
{% set allStoriesLoaded = newsQuery.count() <= 10 %}

{% if newsQuery.exists %}
    <div 
        class="bg-gradient-to-tr from-guaynabo-blue-start to-guaynabo-blue-end 
            w-full text-white 
        "
        @newsScrollLeftMaxReached.window="scrollLeftMax = true;"
        @newsScrollLeftMaxOff.window="scrollLeftMax = false;"
        @newsScrollRightMaxReached.window="scrollRightMax = true;"
        @newsScrollRightMaxOff.window="scrollRightMax = false;"
        x-data="{
            allStoriesLoaded: {{allStoriesLoaded ? 'true' : 'false'}},
            loading: false,
            scrollLeftMax: true,
            scrollRightMax: false,
        }"
    >
        {# title and pagination #}
        <div class="w-full sm:px-8 py-4 sm:py-8 flex justify-between text-2xl">
            {# title #}
            <div>Noticias</div>
            {# pagination #}
            <div class="flex">
                <div 
                    class="mx-2 cursor-pointer transition" 
                    x-bind:class="{
                        'opacity-0': scrollLeftMax,
                        'opacity-100': ! scrollLeftMax,
                        'cursor-default': scrollLeftMax,
                        'cursor-pointer': ! scrollLeftMax,
                    }"
                    @click="$dispatch('news-scroll-left')" 
                >
                    <i class="fas fa-chevron-left"></i>
                </div>
                <div 
                    class="mx-2 cursor-pointer transition" 
                    x-bind:class="{
                        'opacity-0': scrollRightMax,
                        'opacity-100': ! scrollRightMax,
                        'cursor-default': scrollRightMax,
                        'cursor-pointer': ! scrollRightMax,
                    }"
                    @click="$dispatch('news-scroll-right')" 
                >
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>
        </div>
        {# cards container #}
        <div 
            class="w-full flex gap-6 overflow-x-hidden "  
            @news-scroll-right.window="
                if(($el.scrollLeft + $el.clientWidth) > 0) scrollLeftMax = false;
                if(($el.scrollLeft + $el.clientWidth) >= $el.scrollLeftMax) {
                    scrollRightMax = true;
                    $dispatch('news-reached-end');
                    }
                $el.scrollTo({
                    top: 0,
                    left: $el.scrollLeft + $el.clientWidth,
                    behavior: 'smooth',
                    });
                "
            @news-scroll-left.window="
                if(($el.scrollLeft - $el.clientWidth) <= 0) scrollLeftMax = true;
                if(($el.scrollLeft - $el.clientWidth) < $el.scrollLeftMax) scrollRightMax = false;
                $el.scrollTo({
                    top: 0,
                    left: $el.scrollLeft - $el.clientWidth,
                    behavior: 'smooth',
                    });
                "
        >
            {% for article in newsQuery.all() %}
                {% include "_partials/newsCards/card.twig" %}
            {% endfor %}
        </div>
        {# news listings link #}
        <a href="/news" class="block w-full text-white text-xl text-center sm:px-8 py-4 sm:py-8 ">Ver todas las noticias</a>
    </div>
{% else %}
    <!-- There are no active news articles to display -->
{% endif %}