{#  Buids the list of Resolutions and Ordinances

    Required Vars
    
#}

<div class="my-8">
  {% include "_partials/ordenanzas-y-resolutiones/_list_entry.twig" with {result: {
    serie: "Serie",
    numero: "Numero",
    tipo: "Tipo",
  }} only %}

  {% for result in pdf_query_Entries %}
    {% set ordResPdf_url = result.ordResPdf.one().url %}
    {% include "_partials/ordenanzas-y-resolutiones/_list_entry.twig" with {result: {
      serie: result.serieDropdown,
      numero: result.numero,
      tipo: result.tipo,
      url: ordResPdf_url,
      descripcion: result.descripcion,
    }} only %}
  {% endfor %}
</div>
