{# This page provides a searchable list of the Ordinanzas y Resolutiones

  Files to be included in this list should be uploaded to the 'Ordenanzas y Resoluciones' assets volume.
  When you upload a file, be sure to click into it and fill out all it's required fields.

  Requirements
    A Section with the handle "ordenanzasYResolutiones": This is where the 
    user's will be entering the documents and their metadata.
      See _list.twig and _listEntry.twig for information on the required entry fields.
#}


{# get results per page, final item in null-chain is default #}
{% set results_per_page = craft.app.request.getParam('resultsPerPage') ?? 10 %}
{# sanity-checking results_per_page value #}
{% if (results_per_page == 'all') %}
  {% set results_per_page = 9999 %}
{% elseif not (results_per_page matches '/[0-9]{1,4}/') %}
  {% set results_per_page = 10 %}
{% endif %}


{# Getting search params #}
{% set search_tipo = craft.app.request.getParam('tipo') %}
{% set search_numero = craft.app.request.getParam('numero') %}
{% set search_serie = craft.app.request.getParam('serie') %}
{% set search_descripcion = craft.app.request.getParam('descripcion') %}

{# Performing the search #}

{% set entry_query = craft.entries({
    section: 'ordenanzasYResolutiones',
    tipo: search_tipo,
    numero: search_numero,
    serieDropdown: search_serie,
  })
  .search(search_descripcion)
  .orderBy('serie desc, numero desc')
%}

{% switch entry.colorGradient ?? null %}
    {% case "blue" %}
        {% set selectors_bg_gradient_start = "from-guaynabo-blue-start" %}
        {% set selectors_bg_gradient_end   =   "to-guaynabo-blue-end" %}
    {% case "purple" %}
        {% set selectors_bg_gradient_start = "from-guaynabo-purple-start" %}
        {% set selectors_bg_gradient_end   =   "to-guaynabo-purple-end" %}
    {% case "green" %}
        {% set selectors_bg_gradient_start = "from-guaynabo-green-start" %}
        {% set selectors_bg_gradient_end   =   "to-guaynabo-green-end" %}
    {% case "orange" %}
        {% set selectors_bg_gradient_start = "from-guaynabo-orange-start" %}
        {% set selectors_bg_gradient_end   =   "to-guaynabo-orange-end" %}
    {% default %}
        {% set selectors_bg_gradient_start = "from-guaynabo-blue-start" %}
        {% set selectors_bg_gradient_end   =   "to-guaynabo-blue-end" %}
{% endswitch %}

{% paginate entry_query.limit(results_per_page) as pdf_query_Info, pdf_query_Entries %}
{# The search and results div itself #}
<div class="relative"
     x-data="{working : false}"
>
  {# The top-bar #}
  <div 
    {# working: has the user entered/changed a selection and caused the page to reload? #}
    class="ordenanzas_y_resolutiones__top  px-8 py-6
      bg-gradient-to-tr {{selectors_bg_gradient_start}} {{selectors_bg_gradient_end}}
    "
  >
    {# search controls #}
    {% include "_partials/ordenanzas-y-resolutiones/_selectors" %}
    {# pagination #}
    {% include "_partials/ordenanzas-y-resolutiones/_pagination" %}
  </div>
  {# The list itself #}
  {% include "_partials/ordenanzas-y-resolutiones/_list" %}  
  {# Inline JS! TODO: get rid of the inline JS #}
  {% include "_partials/ordenanzas-y-resolutiones/_script" %}

  {# Overlay for when the page is 'working' #}
  <div 
    x-show="working"
    class="absolute inset-0 overflow-hidden
      bg-white bg-opacity-80
    "
  >
    {# The message container #}
    <div class="fixed top-[50%] left-[50%] -translate-x-1/2 -translate-y-1/2
        flex justify-center items-center rounded-md p-6
        bg-guaynabo-blue-dark bg-opacity-50
      "
    >
      <i class="fas fa-spinner text-guaynabo-blue mr-4 animate-spin"></i>
      <div class="text-xl text-guaynabo-blue font-advantage">Buscando</div>
    </div>
  </div> {# end overlay div #}

</div>
 
