{#  Displays the current weeks events.  
    Events are pulled from the '' section.

    entry fields
        startTime
        endTime
        simpleUrl
        simpleContent
        eventTags
 #}

{# macro defining the days #}
{% macro day(atomDate, isToday) %}
    {% set year = atomDate | date('Y') %}
    {% set month = atomDate | date('m') %}
    {% set date = atomDate | date('d') %}

    <div>{{year}} {{month}} {{date}} </div>
{% endmacro %}

{% set today = now | date_modify('today') %}

{# this week's calendar #}
<div class="w-full">
    {# The individual days #}
    {% for number in 0..6 %}
        {% set thisDay =  today | date_modify("+#{number} day") %}
        {{ _self.day(thisDay, loop.first) }}
    {% endfor %}
</div>