{#  Displays the current weeks events.  
    Events are pulled from the '' section.

    entry fields
        startTime
        endTime
        simpleUrl
        simpleContent
        eventTags
 #}

{# macro defining the days #}
{% macro day(startOfDay, isToday) %}
    {% set endOfDay =  startOfDay | date_modify('+1 day') | date_modify('-1 second') %}
    {% set dayQuery = craft.entries()
        .section('eventsCalendar')
        .startTime("<= #{ endOfDay | atom }") 
        .endTime(">= #{ startOfDay | atom }")
        .cache()
    %}
    <div class="">
        {# day/date box #}
        <div class="">

        </div>
        {# events listing #}
        <div class="">
        </div>
    </div>
{% endmacro %}

{% set today = now | date_modify('today') %}

{# this week's calendar #}
<div class="w-full">
    <h2 class="text-center">Próximamente</h2>
    <div class="w-full">
        {# The individual days #}
        {% for number in 0..6 %}
            {% set thisDay =  today | date_modify("+#{number} day") %}
            {{ _self.day(thisDay, loop.first) }}
        {% endfor %}
</div>
</div>