{#  SuperContent is a all purpose content type used in most of the entries and 
    pages on the site.
    
    superContent started as just a Matrix with a couple of blocks as an
    attempt to get around some of Redactor's limitiations.
    Now it's become "featureCreep.twig".
    I would nuke the whole thing and start from scratch with this, but it is 
    already in and kinda needs to be supported, if I don't plan on re-porting 
    whole site again.

    Matrix field with the following block types

    .... Whew, this is gonna be it's whole sub-project.
    There are nine blocks, some of which are wierd sub-behaviors and pull in 
    third party libraries that I'll need to install..

#}

<div>
    <p>I am the placeholder for a SuperContent template.</p>
    
    <p>This SuperContent field has {{superContent.count()}} blocks of the following types:</p>
    <ul>
        {% for superBlock in superContent.all() %}
            <li>{{superBlock.type}}</li>
        {% endfor %}
    </ul>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati 
        architecto amet doloremque similique sit odit rem numquam sint 
        repudiandae exercitationem, laborum neque facilis sed cupiditate iste, 
        adipisci pariatur ullam! Aspernatur.
    </p>
    <p>
        Ipsa, neque sunt blanditiis temporibus delectus accusantium nisi alias 
        dolores. Ipsam culpa voluptates laborum corporis repudiandae hic facere, 
        consequatur odio atque reprehenderit nostrum facilis! Enim iure suscipit 
        sed fuga similique.
    </p>
    <p>
        Consectetur adipisci beatae laborum sequi voluptates, cupiditate, 
        magnam quisquam rem corporis nulla natus nesciunt, minus aut dolorem. 
        Culpa quis fugiat fuga et architecto ab reiciendis nemo similique, magni 
        dignissimos aliquid.
    </p>
    <p>
        Pariatur asperiores minima sequi esse vitae eligendi. Dolorum nostrum 
        reiciendis eaque dolores consequuntur odit porro neque? Fugit cupiditate 
        deleniti explicabo placeat. Officia deserunt eius est, voluptates quas 
        sapiente similique reprehenderit?
    </p>
    <p>
        Quas vel eos reprehenderit, temporibus libero ab? Eveniet at ex 
        deleniti, tempora porro perferendis expedita! Ratione architecto 
        doloremque quibusdam! Numquam dignissimos voluptatibus veniam. Magni iure 
        iusto impedit est obcaecati. Eveniet!
    </p>
</div>