{#  A paginated list of news entries
 #  
 #  Required section
 #      news: a section with the news articles in it.
 #  
 #  Required news entry fields
 #      title: plaintext, single line
 #      featureImage: image asset, single
 #      summary: plaintext, multiline
 #}

{% extends "_layouts/3-base" %}

{% block base_supercontent %}
    {% include "_partials/entry_titlebar.twig" with {title: "Noticias"} %}
{% endblock %}

{% block base_content %}
    <p>testing</p>
{% endblock %}

