{#  A paginated list of news entries
 #  
 #  Required section
 #      news: a section with the news articles in it.
 #  
 #  Required news entry fields
 #      title: plaintext, single line
 #      featureImage: image asset, single
 #      summary: plaintext, multiline
 #}

{% extends "_layouts/3-base" %}

{% block base_supercontent %}
    {% include "_partials/entry_titlebar.twig" with {title: "Noticias"} %}
{% endblock %}

{% set newsQuery = craft.entries().section('news').limit(10).cache() %}

{% block base_content %}
    {% if newsQuery.exists() %}
        <p>there are news articles</p>
    {% else %}
    {# There are no news articles #}
        <p>No hay artículos de noticias en este momento.</p>
    {% endif %}
{% endblock %}

