{#  Header-Main-Footer
    Provides and defines the site's header and footer, and the <main> tag

    Required Blocks
        hmf_main: The contents of the <main> tag.
    Optional Blocks
        hmf_body_tag: A override for the <body> tag.
        hmf_header: An override for the site header.
        hmf_main_tag:  override for the <main> tag. 
        hmf_footer: override the site footer.
        hmf_outsiders: A block for adding content that should exist outside the normal
            flow of the document. For example, a modal could be placed here, and given 
            `position: fixed`
#}

{% extends "_layouts/1-html" %}

{% block html_body %}
{% block hmf_body_tag %}
<body id="hmf_body" class="flex flex-col h-screen">
{% endblock %}
    {# The header #}
    {% block hmf_header %}
        {% include "_partials/header" %}
    {% endblock %}
    
    {# Main block #}
    {% block hmf_main_tag %}
    <main id="hmf_main" class="flex flex-col flex-grow sm:flex-row">
    {% endblock %}
    {% block hmf_main %}
        <h1>Missing Content</h1>
        <p>No content was passed to hmf_main in 2-hmf.twig</p>
    {% endblock %}
    </main>
    
    {# The footer #}
    {% block hmf_footer %}
    <footer class="text-white">
        {# upper footer #}
        <div class="flex flex-col items-center justify-center py-8 space-y-8 bg-guaynabo-blue">
            <img src={{footer.seal.one().url}} alt="" class="min-w-[100px] w-1/4 max-w-[175px]">
            <p class="text-center">{{footer.address | nl2br}}</p>
        </div>
        {# lower footer #}
        <div class="flex flex-wrap justify-around pt-4 space-y-4 bg-guaynabo-blue-dark">

            {# copyright #}
            <p class="text-xs text-center">{{footer.simpleMultiTextNoSearch | nl2br}}</p>

            {# socialmedia buttons #}
            <div class="flex items-center justify-center space-x-4">
                {% for socialBlock in socialButtons.socialButtonsMatrix %}
                    {% include "/_partials/socialMediaButton.twig/" | raw %}
                {% endfor %}
            </div>

            {# our claim to fame #}
            <a href="https://bytesandbeans.com/" class="w-full text-xs text-center text-white text-opacity-20">Powered byt Bytes and Beans</a>

            {# Back To Top #}

        </div>
    </footer>
    {% endblock %}

    {% block hmf_outsiders %}{% endblock %}

</body>
{# end html_body #}
{% endblock %} 