
{# Layout used by entries with both a main content and sidebar.

    required vars
        title: Plaintext, title of the entry
        superContent: Matrix, the primary content of the entry
                    supercontent is basicaly featureCreep.twig
        simpleSidebar: redactor; The content of the sidebar
    optional vars
        sidebarLogo: asset, image, single; image above the sidebar
        titleBar: asset, imagle, single; Fullpage titlebar for the entry
        colorGradien: dropdown, which color gradient we should use.
            values: blue, purple, green, orange
#}

{% set base_sidebarSectionElement = "aside" %}
{% set sidebar_bg_gradient_start = "from-guaynabo-blue-start" %}
{% set sidebar_bg_gradient_end = "to-guaynabo-blue-end" %}
{% set sidebar_text_color = "text-white" %}

{% extends "_layouts/3-base" %}

{% block base_supercontent %}
    dummy supercontent conttent
{% endblock %}

{% block base_content %}
    {% include "_partials/superContent" with {superContent: entry.superContent} only %}
{% endblock %} {# end base_content #}

{% block base_sidebar %}
    <div class="w-full bg-gradient-to-tr {{sidebar_bg_gradient_start}} {{sidebar_bg_gradient_end}} {{sidebar_text_color}}">
        <p>Dummy sidebar content</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati est totam voluptates numquam nostrum cupiditate adipisci suscipit natus impedit quas harum debitis nemo porro rerum, reprehenderit fugit error nulla sapiente.</p>
    </div>
{% endblock %} {# end base_sidebar #}