{#  Page that handles searches and presents the search results
 #}

{% set urlQueryText = craft.app.request.getQueryParam('q') ?? null %}

{% extends "_layouts/3-base" %}

{% block base_supercontent %}
    {% include "_partials/entry_titlebar" with {title : "Sus búsquedas"} %}
{% endblock %}

{% block base_content %}
    {% if urlQueryText %}

        {% set query = craft.entries()
            .section('not ordenanzasYResolutiones')
            .search(urlQueryText) 
        %}
        {% if query.exists %}
            {% for result in query.all() %}
                <div>{{result.getLink}}</div>
            {% endfor %}
        {% else %}
            <p>No se encontraron resultados de búsqueda.</p>
        {% endif %}
    {% else %}
        <p>No se proporcionó ninguna consulta de búsqueda.</p>
    {% endif %}
{% endblock %}

